<h1 class = "title">Sources</h1>

<p>
    Diakopoulos, N., & Johnson, D. (2021). Anticipating and addressing the ethical implications of deepfakes in the context of elections. New Media & Society, 23(7), 2072-2098. https://doi.org/10.1177/1461444820925811
</p>
<p>
    Acquisti, A, (2013, June). What will a future without secrets look like? [Video] Ted Conferences. https://www.ted.com/talks/alessandro_acquisti_what_will_a_future_without_secrets_look_like
</p>
<p>
    Etemad-Sajadi, R. (n,d). 6 main ethical concerns of service robots and human interaction. Hospitalityinsights.ehl.edu. https://hospitalityinsights.ehl.edu/service-robots-and-ethics
</p>
<p>
    Slides and lectures provided by Professor Myeong Lee for IT-304-DL3 at GMU.
</p>