<h1 class = "title">Ethical Concerns</h1>

<p>
Globally and especially in the world of technology, there is a plethora of issues that arise in tandem with growth. With new systems, devices and other technological advancements implemented
in our lives comes ethical concerns that we as a people must responsibly consider. The following page details two of the broader issues we will run across along with examples.
</p>

<p><i><strong>Safety</strong></i> and <i><strong>privacy</strong></i> are priorities when it comes to information technology. Over the years, we have been rapidly making use of features like biometrics and scanners
for identification, robots for delivery of goods and the lifting of heavy objects, as well as the use of AI for means of entertainment. All of these things help bring either
convenience or support to humans, yet each could lead to mishaps or even be exploited for malicious means.</p>

<p>For example, data breaches may cause sensitive user information like facial patterns, fingerprints and other data held by biometrics databases to be leaked. Robots might make a mistake and accidentally hurt or even kill someone. Deep-fake AI may be used to
besmirch someone's reputation through misinformation. It is because of reasons like these we must ensure both privacy and safety.</p>

<p>It is up to us come up with the solutions so that people won't have to face the concerns that malicious actors or accidents can bring to any user anywhere.</p>